[Unit]
Description=Root CA Endpoint
Wants=network-online.target
After=network-online.target

[Service]
Type=exec
User=cfssl
Group=cfssl
Restart=no
ExecStart=python3 \
    -m http.server \
    -d /var/cfssl/ca-serve

[Install]
WantedBy=multi-user.target
