[Unit]
Description=Container storage filesystem.

[Mount]
What=/dev/disk/by-partlabel/containers
Where=/var/lib/containers
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
