[Unit]
Description=Jellyfin Container
Requires=containers.target
PartOf=containers.target
After=containers.target

[Container]
ContainerName=jellyfin
Image=ghcr.io/jellyfin/jellyfin:10.10
User=9023
Group=9030

Label=io.containers.autoupdate=registry

Volume=jellyfin-cache:/cache:Z
Volume=jellyfin-data:/config:Z
Volume=/var/mnt/library/movies:/media/library/movies:z,ro
Volume=/var/mnt/library/series:/media/library/series:z,ro
Volume=/var/mnt/library/transcodes:/media/library/transcodes:Z

Network=proxy.network

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=containers.target
