# This is a templated file.

[Unit]
Description=SWAG (NGINX) Container
PartOf=containers.target

[Container]
ContainerName=swag
Image=docker.io/linuxserver/swag:latest

Label=io.containers.autoupdate=registry

Environment=PUID=8443
Environment=PGID=8443
Environment=UMASK=0007
Environment=URL=${domain}
Environment=SUBDOMAINS=wildcard
Environment=VALIDATION=dns
Environment=DNSPLUGIN=cloudflare
Environment=STAGING=${staging}

Volume=swag-data:/config:Z

Network=proxy.network
PublishPort=80:80
PublishPort=443:443

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=containers.target
