---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault
spec:
  provider:
    vault:
      server: http://vault.vault.svc:8200
      path: secret
      auth:
        tokenSecretRef:
          name: vault-unseal-keys
          namespace: vault
          key: vault-root
        # TODO: switch to kubernetes auth
        # kubernetes:
        #   mountPath: "kubernetes"
        #   role: "demo"
        #   serviceAccountRef:
        #     name: "my-sa"
        #     namespace: "secret-admin"
        #   secretRef:
        #     name: "my-secret"
        #     namespace: "secret-admin"
        #     key: "vault"
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: gitlab
spec:
  provider:
    gitlab:
      # url: https://gitlab.mydomain.com/
      auth:
        SecretRef:
          accessToken:
            namespace: flux-system
            name: cluster-secret-vars
            key: GITLAB_TOKEN_EXTERNAL_SECRETS
      projectID: "38523911"
      environment: "prod"
