[Unit]
Description=Restic Backup
Wants=network-online.target packages.service
After=network-online.target packages.service

[Service]
Type=oneshot
Restart=no

EnvironmentFile=/etc/profile.d/restic.sh
ExecStart=/usr/local/bin/backup.sh
