[Unit]
Description=SWAG (NGINX) Container
Documentation=man:podman-generate-systemd(1)
Wants=podman-networks.service
After=podman-networks.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=70

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run -d --rm --replace \
    --cidfile=%t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon \
    --label io.containers.autoupdate=registry \
    --name=swag \
    --cap-add=NET_ADMIN \
    -e PUID=8443 \
    -e PGID=8443 \
    -e URL=${domain} \
    -e SUBDOMAINS=wildcard \
    -e VALIDATION=dns \
    -e DNSPLUGIN=cloudflare \
    -e STAGING=${staging} \
    -v /srv/swag:/config:Z \
    --network proxy \
    -p 80:80 \
    -p 443:443 \
    docker.io/linuxserver/swag:latest

ExecStop=/usr/bin/podman stop --ignore -t 10 --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id

Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
