---
- name: Include installation tasks
  include_tasks: "{{ item }}"
  loop:
    - packages.yml
    - services.yml

- name: Wait for node-token
  wait_for:
    path: "{{ k3s_server_location }}/server/node-token"

#- name: Register node-token file access mode
#  stat:
#    path: "{{ k3s_server_location }}/server/node-token"
#  register: p

#- name: Change file access node-token
#  file:
#    path: "{{ k3s_server_location }}/server/node-token"
#    mode: "g+rx,o+rx"

- name: Read node-token from master
  slurp:
    path: "{{ k3s_server_location }}/server/node-token"
  register: node_token

- name: Store Master node-token
  set_fact:
    token: "{{ node_token.content | b64decode | regex_replace('\n', '') }}"

#- name: Restore node-token file access
#  file:
#    path: "{{ k3s_server_location }}/server/node-token"
#    mode: "{{ p.stat.mode }}"

- name: Create kubectl symlink
  file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/kubectl
    state: link

- name: Create crictl symlink
  file:
    src: /usr/local/bin/k3s
    dest: /usr/local/bin/crictl
    state: link
