---
{% if inventory_hostname == groups['k3s_masters'][0] %}
# Insert database options here
{% else %}
# Set master FQDN
server: https://{{ hostvars[groups['k3s_masters'][0]].ansible_hostname }}.{{ ansible_domain}}:6443
{% endif %}

# Set path to token file
token-file: {{ k3s_token_file }}

{% if 'k3s_masters' in group_names %}
# Set options for K3s controller nodes
disable:
  - local-storage
  - servicelb
  - traefik
disable-cloud-controller: true
secret-encryption: true
node-taint: "CriticalAddonsOnly=true:NoExecute"
{% endif %}
