[Unit]
Description=Jellyseerr Container
Documentation=man:podman-generate-systemd(1)
Wants=podman-networks.service
After=podman-networks.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=70

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run -d --rm --replace \
	--cidfile=%t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon \
    --label io.containers.autoupdate=registry \
    --name jellyseerr \
    --user 9025:9030 \
    -v /srv/jellyseerr:/app/config:Z \
    -e TZ="America/Vancouver" \
    --network proxy \
    docker.io/fallenbagel/jellyseerr:latest

ExecStop=/usr/bin/podman stop --ignore -t 10 --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id

Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
