[Unit]
Description=Octavia Interface Creator
Requires=kolla-openvswitch_vswitchd-container.service
After=kolla-openvswitch_vswitchd-container.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 15
ExecStart=/usr/local/bin/octavia-interface.sh start
ExecStop=/usr/local/bin/octavia-interface.sh stop

[Install]
WantedBy=multi-user.target
