[Unit]
Description=Container Stack Target

Requires=hass.service
Requires=jellyfin.service
Requires=jellyseerr.service
Requires=mosquitto.service
Requires=prowlarr.service
Requires=radarr.service
Requires=sabnzbd.service
Requires=sonarr.service
Requires=swag.service

After=hass.service
After=jellyfin.service
After=jellyseerr.service
After=mosquitto.service
After=prowlarr.service
After=radarr.service
After=sabnzbd.service
After=sonarr.service
After=swag.service

[Install]
WantedBy=default.target
