[Unit]
Description=Jellyfin Container
Documentation=man:podman-generate-systemd(1)
Wants=podman-networks.service
After=podman-networks.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=never
TimeoutStartSec=300
TimeoutStopSec=70

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run -d --rm --replace \
    --cidfile=%t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon \
    --label io.containers.autoupdate=registry \
    --name jellyfin \
    --user 9023:9030 \
    -v /srv/jellyfin:/config:Z \
    -v /var/mnt/library:/media/library:z \
    --network proxy \
    docker.io/jellyfin/jellyfin:latest

ExecStop=/usr/bin/podman stop --ignore -t 10 --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id

Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
