[Unit]
Description=Create Podman networks
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/podman network create --ignore proxy

[Install]
WantedBy=default.target
