[Unit]
Description=Radarr Container
Documentation=man:podman-generate-systemd(1)
Wants=podman-networks.service
After=podman-networks.service
PartOf=containers.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStartSec=300
TimeoutStopSec=70

ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run -d --rm --replace \
	--cidfile=%t/%n.ctr-id --cgroups=no-conmon --sdnotify=conmon \
    --label io.containers.autoupdate=registry \
    --name radarr \
    -v /srv/radarr:/config:Z \
    -v /var/mnt:/media:z \
    -e PUID=9032 \
    -e PGID=9030 \
    -e TZ="America/Vancouver" \
    -e UMASK="0007" \
    --network proxy \
    docker.io/linuxserver/radarr:latest

ExecStop=/usr/bin/podman stop --ignore -t 10 --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore -t 10 --cidfile=%t/%n.ctr-id

Type=notify
NotifyAccess=all

[Install]
WantedBy=containers.target
