[Unit]
Description=Server hot data (db, metadata, etc.)

[Mount]
What=/dev/vdb
Where=/var/srv
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
