////////////////////////////////////////
//   /etc/named.conf - BIND Options   //
////////////////////////////////////////

// This BIND instance is configured as a recursive, caching resolver for local networks


// ACLs by IP or CIDR subnets
acl "localnet" {
  {{ net.prefix }};
};

// Default Settings
options {
	// Filesystem options
  directory         "/var/cache/bind";

  // Access options
  recursion         yes;                        # Enable recursive queries
  allow-query       { localnet; };              # Allow DNS queries from "localnet"
  allow-recursion   { localnet; };              # Allow recursive queries from "localnet"
  allow-transfer    { none; };                  # Disable zone transfers by default
  dnssec-validation	yes;
  listen-on port 53 {                           # Name server private IP address
    {{ ansible_default_ipv4.address }};
  };

  // Forwarding
  forwarders {
    1.1.1.1;
    1.0.0.1;
  };
};
