[DEFAULT]
debug = False
log_dir = /var/log/kolla/cinder
use_forwarded_for = true
use_stderr = False
my_ip = 192.168.1.11
volume_name_template = volume-%s
glance_api_servers = http://192.168.1.11:9292
glance_num_retries = 1
glance_ca_certificates_file =
enabled_backends = lvm-1,lvm-2
api_paste_config = /etc/cinder/api-paste.ini
auth_strategy = keystone
transport_url = rabbit://openstack:jZNWo1qvT0HjVkB2AviS3HPZmUNuM7GlLfVufSte@192.168.1.11:5672//

[oslo_messaging_notifications]
transport_url = rabbit://openstack:jZNWo1qvT0HjVkB2AviS3HPZmUNuM7GlLfVufSte@192.168.1.11:5672//
driver = noop

[oslo_messaging_rabbit]
heartbeat_in_pthread = False

[oslo_middleware]
enable_proxy_headers_parsing = True

[nova]
interface = internal
auth_url = http://192.168.1.11:5000
auth_type = password
project_domain_id = default
user_domain_id = default
region_name = RegionOne
project_name = service
username = nova
password = XFXbdQc6kmksBidovzFsPIAWydgPIFu6EuB7vP4E
cafile =

[database]
connection = mysql+pymysql://cinder:aDLA8nFEjg8qtKbpuawsWXjXQm7MIltqbmuaT2Wo@192.168.1.11:3306/cinder
connection_recycle_time = 10
max_pool_size = 1
max_retries = -1

[keystone_authtoken]
service_type = volume
www_authenticate_uri = http://192.168.1.11:5000
auth_url = http://192.168.1.11:5000
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = QZSln7qM3OoIAoFEIKcgi1gx0Bxm0YXPpfCVlfTC
cafile =
region_name = RegionOne
memcache_security_strategy = ENCRYPT
memcache_secret_key = tRCPDHzucvBu85aiWTAzG8sD2lUZYICpGXNLYERz
memcached_servers = 192.168.1.11:11211

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

[lvm-standard]
volume_driver = cinder.volume.drivers.lvm.LVMVolumeDriver
target_helper = lioadm
target_protocol = iscsi
volume_group = cinder-standard
volume_backend_name = lvm-standard

[privsep_entrypoint]
helper_command = sudo cinder-rootwrap /etc/cinder/rootwrap.conf privsep-helper --config-file /etc/cinder/cinder.conf

[barbican]
auth_endpoint = http://192.168.1.11:5000
barbican_endpoint_type = internal
verify_ssl_path =

[coordination]
