---
{% if packer_build_name == "k3s-master" %}
# Set SAN for kube-vip address
tls-san: {{ k3s_kubevip_address }}
{% else %}
# Set control-plane IP address
server: https://{{ k3s_kubevip_address }}:6443
{% endif %}

# Set path to token file
token-file: {{ k3s_token_file }}

{% if "CentOS" or "Rocky" or "Red Hat Enterprise Linux" in ansible_distribution %}
# Enable SELinux for containerd
selinux: true
{% endif %}

{% if packer_build_name == "k3s-master" %}
# Set additonal cluster options
disable:
  - local-storage
  - servicelb
  - traefik
disable-cloud-controller: true
secret-encryption: true
node-taint: "CriticalAddonsOnly=true:NoExecute"
{% endif %}
