---
apiVersion: v1
kind: Namespace
metadata:
  name: gitlab-runner
---
apiVersion: v1
kind: Secret
metadata:
  name: gitlab-runner
  namespace: gitlab-runner
  labels:
    app.kubernetes.io/name: gitlab-runner
type: Opaque
data:
  runner-registration-token: {{ k3s_gitlab_runner_token | b64encode }}
