[Unit]
Description=Server cool storage (media, backups, etc.)

[Mount]
What=/dev/vdc
Where=/var/mnt
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
