---
apiVersion: v1
kind: Namespace
metadata:
  name: ceph-csi
---
apiVersion: v1
kind: Secret
metadata:
  name: ceph-secret
  namespace: ceph-csi
stringData:
  adminID: {{ k3s.ceph.adminID }}
  adminKey: {{ k3s.ceph.adminKey }}
  userID: {{ k3s.ceph.adminID }}
  userKey: {{ k3s.ceph.adminKey }}
