---
apiVersion: v1
kind: ConfigMap
metadata:
  name: jellyseerr-config
  namespace: media-server
data:
  init.sh: |
    #!/bin/bash

    [ -f /secrets/jellyfin-server-id ] || exit 1
    [ -f /secrets/radarr-api-key ] || exit 1
    [ -f /secrets/sonarr-api-key ] || exit 1

    [ -f /app/config/settings.json ] || {
      cp /configmaps/settings.json /app/config/settings.json || exit 1
      sed -i "s|jellyfin-server-id|$(</secrets/jellyfin-server-id)|" \
        /app/config/settings.json || exit 1
      sed -i "s|radarr-api-key|$(</secrets/radarr-api-key)|" \
        /app/config/settings.json || exit 1
      sed -i "s|sonarr-api-key|$(</secrets/sonarr-api-key)|" \
        /app/config/settings.json || exit 1
    }

  settings.json: |
    {
      "clientId": "",
      "vapidPrivate": "",
      "vapidPublic": "",
      "main": {
        "apiKey": "",
        "applicationTitle": "Jellyseerr",
        "applicationUrl": "",
        "csrfProtection": false,
        "cacheImages": false,
        "defaultPermissions": 32,
        "defaultQuotas": {
          "movie": {},
          "tv": {}
        },
        "hideAvailable": false,
        "localLogin": false,
        "newPlexLogin": true,
        "region": "",
        "originalLanguage": "en",
        "trustProxy": false,
        "mediaServerType": 2,
        "partialRequestsEnabled": true,
        "locale": "en"
      },
      "plex": {
        "name": "",
        "ip": "",
        "port": 32400,
        "useSsl": false,
        "libraries": []
      },
      "jellyfin": {
        "name": "Jellyfin",
        "hostname": "http://jellyfin.media-server.svc:8096",
        "externalHostname": "https://jellyfin.homelab.internal",
        "libraries": [],
        "serverId": "jellyfin-server-id"
      },
      "tautulli": {},
      "radarr": [
        {
          "name": "Radarr",
          "hostname": "radarr.media-server.svc",
          "port": 7878,
          "apiKey": "radarr-api-key",
          "useSsl": false,
          "baseUrl": "",
          "activeProfileId": 6,
          "activeProfileName": "HD - 720p/1080p",
          "activeDirectory": "/media/library/Movies",
          "is4k": false,
          "minimumAvailability": "released",
          "tags": [],
          "isDefault": true,
          "syncEnabled": true,
          "preventSearch": false,
          "id": 0
        }
      ],
      "sonarr": [
        {
          "name": "Sonarr",
          "hostname": "sonarr.media-server.svc",
          "port": 8989,
          "apiKey": "sonarr-api-key",
          "useSsl": false,
          "baseUrl": "",
          "activeProfileId": 6,
          "activeLanguageProfileId": 1,
          "activeProfileName": "HD - 720p/1080p",
          "activeDirectory": "/media/library/TV Shows",
          "activeAnimeProfileId": 6,
          "activeAnimeLanguageProfileId": 1,
          "activeAnimeProfileName": "HD - 720p/1080p",
          "activeAnimeDirectory": "/media/library/TV Shows",
          "tags": [],
          "animeTags": [],
          "is4k": false,
          "isDefault": true,
          "enableSeasonFolders": true,
          "syncEnabled": true,
          "preventSearch": false,
          "id": 0
        }
      ],
      "public": {
        "initialized": true
      },
      "notifications": {
        "agents": {
          "email": {
            "enabled": false,
            "options": {
              "userEmailRequired": false,
              "emailFrom": "",
              "smtpHost": "",
              "smtpPort": 587,
              "secure": false,
              "ignoreTls": false,
              "requireTls": false,
              "allowSelfSigned": false,
              "senderName": "Jellyseerr"
            }
          },
          "discord": {
            "enabled": false,
            "types": 0,
            "options": {
              "webhookUrl": "",
              "enableMentions": true
            }
          },
          "lunasea": {
            "enabled": false,
            "types": 0,
            "options": {
              "webhookUrl": ""
            }
          },
          "slack": {
            "enabled": false,
            "types": 0,
            "options": {
              "webhookUrl": ""
            }
          },
          "telegram": {
            "enabled": false,
            "types": 0,
            "options": {
              "botAPI": "",
              "chatId": "",
              "sendSilently": false
            }
          },
          "pushbullet": {
            "enabled": false,
            "types": 0,
            "options": {
              "accessToken": ""
            }
          },
          "pushover": {
            "enabled": false,
            "types": 0,
            "options": {
              "accessToken": "",
              "userToken": ""
            }
          },
          "webhook": {
            "enabled": false,
            "types": 0,
            "options": {
              "webhookUrl": "",
              "jsonPayload": "IntcbiAgICBcIm5vdGlmaWNhdGlvbl90eXBlXCI6IFwie3tub3RpZmljYXRpb25fdHlwZX19XCIsXG4gICAgXCJldmVudFwiOiBcInt7ZXZlbnR9fVwiLFxuICAgIFwic3ViamVjdFwiOiBcInt7c3ViamVjdH19XCIsXG4gICAgXCJtZXNzYWdlXCI6IFwie3ttZXNzYWdlfX1cIixcbiAgICBcImltYWdlXCI6IFwie3tpbWFnZX19XCIsXG4gICAgXCJ7e21lZGlhfX1cIjoge1xuICAgICAgICBcIm1lZGlhX3R5cGVcIjogXCJ7e21lZGlhX3R5cGV9fVwiLFxuICAgICAgICBcInRtZGJJZFwiOiBcInt7bWVkaWFfdG1kYmlkfX1cIixcbiAgICAgICAgXCJ0dmRiSWRcIjogXCJ7e21lZGlhX3R2ZGJpZH19XCIsXG4gICAgICAgIFwic3RhdHVzXCI6IFwie3ttZWRpYV9zdGF0dXN9fVwiLFxuICAgICAgICBcInN0YXR1czRrXCI6IFwie3ttZWRpYV9zdGF0dXM0a319XCJcbiAgICB9LFxuICAgIFwie3tyZXF1ZXN0fX1cIjoge1xuICAgICAgICBcInJlcXVlc3RfaWRcIjogXCJ7e3JlcXVlc3RfaWR9fVwiLFxuICAgICAgICBcInJlcXVlc3RlZEJ5X2VtYWlsXCI6IFwie3tyZXF1ZXN0ZWRCeV9lbWFpbH19XCIsXG4gICAgICAgIFwicmVxdWVzdGVkQnlfdXNlcm5hbWVcIjogXCJ7e3JlcXVlc3RlZEJ5X3VzZXJuYW1lfX1cIixcbiAgICAgICAgXCJyZXF1ZXN0ZWRCeV9hdmF0YXJcIjogXCJ7e3JlcXVlc3RlZEJ5X2F2YXRhcn19XCJcbiAgICB9LFxuICAgIFwie3tpc3N1ZX19XCI6IHtcbiAgICAgICAgXCJpc3N1ZV9pZFwiOiBcInt7aXNzdWVfaWR9fVwiLFxuICAgICAgICBcImlzc3VlX3R5cGVcIjogXCJ7e2lzc3VlX3R5cGV9fVwiLFxuICAgICAgICBcImlzc3VlX3N0YXR1c1wiOiBcInt7aXNzdWVfc3RhdHVzfX1cIixcbiAgICAgICAgXCJyZXBvcnRlZEJ5X2VtYWlsXCI6IFwie3tyZXBvcnRlZEJ5X2VtYWlsfX1cIixcbiAgICAgICAgXCJyZXBvcnRlZEJ5X3VzZXJuYW1lXCI6IFwie3tyZXBvcnRlZEJ5X3VzZXJuYW1lfX1cIixcbiAgICAgICAgXCJyZXBvcnRlZEJ5X2F2YXRhclwiOiBcInt7cmVwb3J0ZWRCeV9hdmF0YXJ9fVwiXG4gICAgfSxcbiAgICBcInt7Y29tbWVudH19XCI6IHtcbiAgICAgICAgXCJjb21tZW50X21lc3NhZ2VcIjogXCJ7e2NvbW1lbnRfbWVzc2FnZX19XCIsXG4gICAgICAgIFwiY29tbWVudGVkQnlfZW1haWxcIjogXCJ7e2NvbW1lbnRlZEJ5X2VtYWlsfX1cIixcbiAgICAgICAgXCJjb21tZW50ZWRCeV91c2VybmFtZVwiOiBcInt7Y29tbWVudGVkQnlfdXNlcm5hbWV9fVwiLFxuICAgICAgICBcImNvbW1lbnRlZEJ5X2F2YXRhclwiOiBcInt7Y29tbWVudGVkQnlfYXZhdGFyfX1cIlxuICAgIH0sXG4gICAgXCJ7e2V4dHJhfX1cIjogW11cbn0i"
            }
          },
          "webpush": {
            "enabled": false,
            "options": {}
          },
          "gotify": {
            "enabled": false,
            "types": 0,
            "options": {
              "url": "",
              "token": ""
            }
          }
        }
      },
      "jobs": {
        "plex-recently-added-scan": {
          "schedule": "0 */5 * * * *"
        },
        "plex-full-scan": {
          "schedule": "0 0 3 * * *"
        },
        "radarr-scan": {
          "schedule": "0 0 4 * * *"
        },
        "sonarr-scan": {
          "schedule": "0 30 4 * * *"
        },
        "download-sync": {
          "schedule": "0 * * * * *"
        },
        "download-sync-reset": {
          "schedule": "0 0 1 * * *"
        },
        "jellyfin-recently-added-sync": {
          "schedule": "0 */5 * * * *"
        },
        "jellyfin-full-sync": {
          "schedule": "0 0 3 * * *"
        }
      }
    }

  database.load: |
    LOAD DATABASE
        FROM {{DATA_SOURCE}}
        INTO postgresql://{{POSTGRES_USER}}:{{POSTGRES_PASSWORD}}@{{POSTGRES_HOST}}:{{POSTGRES_PORT}}/{{POSTGRES_DATABASE}}?sslmode=allow

        WITH
            quote identifiers

        CAST type datetime to timestamptz drop default
        AFTER LOAD DO
            $$ alter table season_request alter "createdAt" set default now() $$,
            $$ alter table season_request alter "updatedAt" set default now() $$

    ; /* Finalize script */
