[general]
# FQDN of the instance (or load balancer for GSSAPI auth)
full_machine_name = {{ ansible_hostname }}.{{ ansible_domain }}

# Strict DNS checking. Set false for load balancing with GSSAPI auth, or for containers.
strict_host_checking = False


[slapd]
# Set the name of the instance
instance_name = {{ ansible_hostname }}

# Root Credentials
root_dn = cn=manager
root_password = {{ dirsrv_root_pw }}

# Enable SSL and generate self-signed cert
self_sign_cert = False
